{{define "connect"}}
<div class="modal-container">
    <div class="overlay modal-trigger">

    </div>
    <div class="modal">
        <button class="close-modal modal-trigger">X</button>
        <div class="connect">
            <div class="login active">
                <h2>Login</h2>
                <form action="" method="post">
                    <label for="loginEmailName">Email or Username :</label>
                    <input type="text" id="loginEmailName" name="loginEmailName" class="input-connect" placeholder="email or username....">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" class="input-connect" placeholder="password....">
                    <button type="submit">Login</button>
                </form>
                <button class="switch-register">Create an account</button>
            </div>
            <div class="register">
                <h2>Register</h2>
                <form action="" method="post">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" class="input-connect" placeholder="email....">
                    <label for="username">Username :</label>
                    <input type="text" id="username" name="username" class="input-connect" placeholder="Username....">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" class="input-connect" placeholder="password....">
                    <button type="submit">Register</button>
                </form>
                <button class="switch-login">Back to login</button>
            </div>
        </div>
    </div>
</div>
{{end}}
